body{
    background-color: #fe932d;
    font-family: 'Sunshiney', cursive;
    color: white;
   
}
#navbar{
    background-color: #473140;
}

#header{
    background: url(img/sunset.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    margin-top: 40px;
    min-height: 500px;
    font-family: 'Yeon Sung', cursive;
    text-shadow: 0px 4px 3px rgba(10, 9, 0, 0.877),
                0px 8px 13px rgba(0, 0, 0, 0.877),
                0px 18px 23px rgba(0,0,0,0.1);
}
#footer{
    background-color: #473140;
    margin: 0;
    
}

.btn-all{
    background-color: #d34a2a;
    font-size: 24px;
    border: none;
    margin-top: 15px;
}
.btn-all:hover{
    background-color: #473140;
    border: none;
    
}

#vaihtuvaKuva{
    border: #a07150  solid 5px;

}
#weather{
    font-size: 30px;
    margin-top: 15px;
    color: #473140;
}

input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 24px;
}

input:focus{
    border: #a07150 solid 3px;;
}

a{
    color: white;
    font-size: 22px;
}
a:hover{
    color: #a07150;
}

.kuvaGalleria{
    width: 30%;
    float: left;
    margin: 1.66%;
}
#kuvatOsio{
    background-color: #732A0D;
    padding: 20px 0 ;
}

#main-container{
    padding: 0;
}