body{
    background: #ffff00;
    font-family: 'Righteous', cursive;
}
.blurb h2{
    color: #2eb82e;
    font-weight: 100;
    font-size: 2.5rem;
}

.blurb p{
    color: #ff0080;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}
#mainNavBar{
    font-size: 1.5rem;
    font-weight: 100;
}
#mainNavBar .nav-link{
    color: #2eb82e;
}
#mainNavBar .nav-link:hover{
    color: #ff0080;
}
#mainNavBar .navbar-brand{
    color: #ff0080;
   
}
#headingGroup span{
    color: #ff0080;
}
#headingGroup h2{
    font-weight: 100;
    font-size: 3rem;
    color: #2eb82e;
}
.navbar.scrolled{
    background: #ffe6f9;
    transition: background 500ms;
}

@media(max-width: 1200px){
    #headingGroup h2{
        font-weight: 100;
        font-size: 2rem;
    }
    
}

#logo{
    height: 20%;
}
.content{
    margin-top: 100px;
    margin-bottom: 100px;
}